<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channels</title>
</head>
<body>
    <h2>List of Channels</h2>
    <ul>
        <li><a href="/channel/1">programmingwithmosh</a></li>
        <li><a href="/channel/2">TEDx</a></li>
        <li><a href="/channel/3">ycombinator</a></li>
        <li><a href="/channel/4">BroCodez</a></li>
        <li><a href="/channel/5">freecodecamp</a></li>
        <li><a href="/channel/6">CleverProgrammer</a></li>
        <li><a href="/channel/7">NetNinja</a></li>
        <li><a href="/channel/8">lexfridman</a></li>
        <li><a href="/channel/9">hubermanlab</a></li>
    </ul>
    <!-- <button onclick="redirectToLogin()">Logout</button> -->
    <form action="/logout" method="post">
      <button type="submit">Logout</button>
    </form>
    <script src="{{ url_for('static', filename='channels.js') }}"></script>
</body>
</html>
