<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <input type="text" id="loginUsername" placeholder="Username">
    <input type="password" id="loginPassword" placeholder="Password">
    <button onclick="login()">Login</button>
    <div id="loginMessage"></div>

    <!-- <script src="{{ url_for('static', filename='login.js') }}"></script> -->
    <t1>Click on </t1>
    <button onclick="redirectToSignup()">Signup</button>
    <t1> to go to signup page.</t1>
    <script src="{{ url_for('static', filename='login.js') }}"></script>

</body>
</html>
